# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\benra\Desktop\מדעי המחשב\שנה ב' סמסטר קיץ\אינטרנט ושפת ג'אווה\Super Duper Market\Ex2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
